pipeline/Data_Ingestion_DataLake.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_last_cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "Select Max(LastWatermark) as last_cdc_timestamp from @{pipeline().parameters.schema}.@{pipeline().parameters.Watermark} where SchemaName = '@{pipeline().parameters.schema}' and TableName ='@{pipeline().parameters.table}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Watermark_SQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup_last_cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "LS_SQL server",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select count(*) as new_total_rows from @{pipeline().parameters.schema}.@{pipeline().parameters.table} Where last_updated > '@{activity('Lookup_last_cdc').output.firstRow.last_cdc_timestamp}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "If Rows Added",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(activity('Script1').output.resultSets[0].rows[0].new_total_rows), 0)\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SQL to ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{pipeline().parameters.schema}.@{pipeline().parameters.table}\nWhere last_updated > '@{activity('Lookup_last_cdc').output.firstRow.last_cdc_timestamp}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "order_id",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "order_id",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "customer_name",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "customer_name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "product_name",
												"type": "String",
												"physicalType": "varchar"
											},
											"sink": {
												"name": "product_name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "quantity",
												"type": "Int32",
												"physicalType": "int"
											},
											"sink": {
												"name": "quantity",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "price",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 2,
												"precision": 10
											},
											"sink": {
												"name": "price",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											}
										},
										{
											"source": {
												"name": "order_date",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "order_date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "last_updated",
												"type": "DateTime",
												"physicalType": "datetime"
											},
											"sink": {
												"name": "last_updated",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Orders_SQL_Priyanshu_db",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_adls",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Max_CDC",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "SQL to ADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "LS_SQL server",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "INSERT INTO @{pipeline().parameters.schema}.@{pipeline().parameters.Watermark}\n(\n    SchemaName,\n    TableName,\n    LastWatermark\n)\nVALUES\n(\n    '@{pipeline().parameters.schema}',\n    '@{pipeline().parameters.table}',\n    (\n        SELECT MAX(last_updated)\n        FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}\n    )\n);",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Pipeline_Success_alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Rows Added",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/b2f4384f6c4845288d934d455829a9c3/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=mPahxd1Q5q_LJNQdpB8rN10Qm1RWHj_FkzDsqBlx_iI",
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline_runID\" : \"@{pipeline().RunId}\",\n    \"Status\" : \"Success\"\n\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Pipeline_failure_alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "If Rows Added",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/b2f4384f6c4845288d934d455829a9c3/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=mPahxd1Q5q_LJNQdpB8rN10Qm1RWHj_FkzDsqBlx_iI",
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline_runID\" : \"@{pipeline().RunId}\",\n    \"Status\" : \"Failed\"\n\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script_failure_alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/b2f4384f6c4845288d934d455829a9c3/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=mPahxd1Q5q_LJNQdpB8rN10Qm1RWHj_FkzDsqBlx_iI",
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline_runID\" : \"@{pipeline().RunId}\",\n    \"Status\" : \"Failed : Script activity Failed\"\n\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"table": {
				"type": "string",
				"defaultValue": "Orders"
			},
			"schema": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"Watermark": {
				"type": "string",
				"defaultValue": "Update_log_table"
			}
		},
		"variables": {
			"testoutput": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-03T11:32:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}