priyanshudatafactory001/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "priyanshudatafactory001"
		},
		"LS_SQL server_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL server'"
		},
		"ls_ADLS_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_ADLS'"
		},
		"LS_SQL server_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "priyanshudfpro.database.windows.net"
		},
		"LS_SQL server_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Priyanshu_DB"
		},
		"LS_SQL server_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "priyanshu"
		},
		"ls_ADLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://priyanshustorageaccount.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL server')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL server_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL server_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL server_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL server_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_ADLS_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_ADLS_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Every15Min_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2026-07-03T11:32:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Orders_SQL_Priyanshu_db')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL server",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "order_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "customer_name",
						"type": "varchar"
					},
					{
						"name": "product_name",
						"type": "varchar"
					},
					{
						"name": "quantity",
						"type": "int",
						"precision": 10
					},
					{
						"name": "price",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "order_date",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "last_updated",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Orders"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL server')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Watermark_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQL server",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL server')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_ADLS_cdcjson')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "cdc.json",
						"fileSystem": "monitor"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"cdc_timestamp": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sink_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Orders",
						"folderPath": "Orders",
						"fileSystem": "sink"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_last_cdc",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "Select Max(LastWatermark) as last_cdc_timestamp from @{pipeline().parameters.schema}.@{pipeline().parameters.Watermark} where SchemaName = '@{pipeline().parameters.schema}' and TableName ='@{pipeline().parameters.table}'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_Watermark_SQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Script1",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Lookup_last_cdc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_SQL server",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "select count(*) as new_total_rows from @{pipeline().parameters.schema}.@{pipeline().parameters.table} Where last_updated > '@{activity('Lookup_last_cdc').output.firstRow.last_cdc_timestamp}'",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "If Rows Added",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(int(activity('Script1').output.resultSets[0].rows[0].new_total_rows), 0)\n",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "SQL to ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "select * from @{pipeline().parameters.schema}.@{pipeline().parameters.table}\nWhere last_updated > '@{activity('Lookup_last_cdc').output.firstRow.last_cdc_timestamp}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "order_id",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "order_id",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "customer_name",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "customer_name",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "product_name",
														"type": "String",
														"physicalType": "varchar"
													},
													"sink": {
														"name": "product_name",
														"type": "String",
														"physicalType": "UTF8"
													}
												},
												{
													"source": {
														"name": "quantity",
														"type": "Int32",
														"physicalType": "int"
													},
													"sink": {
														"name": "quantity",
														"type": "Int32",
														"physicalType": "INT_32"
													}
												},
												{
													"source": {
														"name": "price",
														"type": "Decimal",
														"physicalType": "decimal",
														"scale": 2,
														"precision": 10
													},
													"sink": {
														"name": "price",
														"type": "Decimal",
														"physicalType": "DECIMAL"
													}
												},
												{
													"source": {
														"name": "order_date",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "order_date",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												},
												{
													"source": {
														"name": "last_updated",
														"type": "DateTime",
														"physicalType": "datetime"
													},
													"sink": {
														"name": "last_updated",
														"type": "DateTime",
														"physicalType": "INT_96"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_Orders_SQL_Priyanshu_db",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_sink_adls",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Max_CDC",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "SQL to ADLS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_SQL server",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "INSERT INTO @{pipeline().parameters.schema}.@{pipeline().parameters.Watermark}\n(\n    SchemaName,\n    TableName,\n    LastWatermark\n)\nVALUES\n(\n    '@{pipeline().parameters.schema}',\n    '@{pipeline().parameters.table}',\n    (\n        SELECT MAX(last_updated)\n        FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table}\n    )\n);",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					},
					{
						"name": "Pipeline_Success_alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "If Rows Added",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/b2f4384f6c4845288d934d455829a9c3/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=mPahxd1Q5q_LJNQdpB8rN10Qm1RWHj_FkzDsqBlx_iI",
							"body": {
								"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline_runID\" : \"@{pipeline().RunId}\",\n    \"Status\" : \"Success\"\n\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Pipeline_failure_alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "If Rows Added",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/b2f4384f6c4845288d934d455829a9c3/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=mPahxd1Q5q_LJNQdpB8rN10Qm1RWHj_FkzDsqBlx_iI",
							"body": {
								"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline_runID\" : \"@{pipeline().RunId}\",\n    \"Status\" : \"Failed\"\n\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Script_failure_alert",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Script1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-01.northcentralus.logic.azure.com:443/workflows/b2f4384f6c4845288d934d455829a9c3/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=mPahxd1Q5q_LJNQdpB8rN10Qm1RWHj_FkzDsqBlx_iI",
							"body": {
								"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"pipeline_runID\" : \"@{pipeline().RunId}\",\n    \"Status\" : \"Failed : Script activity Failed\"\n\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"table": {
						"type": "string",
						"defaultValue": "Orders"
					},
					"schema": {
						"type": "string",
						"defaultValue": "dbo"
					},
					"Watermark": {
						"type": "string",
						"defaultValue": "Update_log_table"
					}
				},
				"variables": {
					"testoutput": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-03T11:32:12Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Watermark_SQL')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQL server')]",
				"[concat(variables('factoryId'), '/datasets/DS_Orders_SQL_Priyanshu_db')]",
				"[concat(variables('factoryId'), '/datasets/ds_sink_adls')]"
			]
		}
	]
}